@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

@layer components {
  .app__buttons {
    @apply py-2 px-4 text-sm bg-cyan-500 text-white rounded-lg font-medium border border-white hover:opacity-90;
  }

  .circle {
    @apply rounded-full bg-cyan-500 text-white text-sm w-8 leading-8 inline-block text-center;
  }
}

/* Rich Text editor */
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 18em;
}
